/* Universal Style */
html {
  font-size: 18px;
} 

html,
body {
  margin: 0;
}

@media only screen and (max-width: 560px){
  html {
    font-size: 15px;
  }
}

/*App Style*/

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: rgb(30, 25, 109);
  color: white;
  margin: 0;
}
